body {
    line-height: 30px;
    background-size: cover;
    background-position: center;
    color: black;
    background-color: white;
    width: 100%;
    padding: 0px;
    margin: auto 0;
    overflow: auto;
    background-image: url(../images/background.jpg);
}

* {
    position: relative;
    box-sizing: border-box;
}

.jumbotron {
    text-align:center; 
    background-color: #ffffff;
    margin-top: 20px;


}

.panel {
 background-color: white;   
}


.panel-body {
    background-color: white;  
}
h1 {color: black;
    font-size: x-large;
}
